{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="/css/post.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <main role="main">
        <article class="post">
            <h1>{{ casino.name }}</h1>
            <div class="clearfix"></div>
            <p>Rating - {{ casino.rating }}</p>
        </article>
    </main>
{% endblock %}