<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/newsletter-subscribe" method="get">
                    <div class="col-md-6 form-group float-right">
                        <input name="email" type="email" id="email" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p>
                    <a href="#">Back to top</a>
                </p>
                <p>News Portal &copy; 2018 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>